# Ciência dos Dados
## Projeto 2 - Walmart
### Integrantes do Grupo:

* Antônio Amaral Egydio Martins
* Arthur Martins de Souza Barreto

### Professor Orientador:
* Maria Kelly Venezuela

### Proposta Norteadora:

Buscamos entender como o meio interno e externo impactam diretamente na quantidade de itens vendidos no WalMart nos Estados Unidos entre 5/2/2010 até 1/11/2012. Sendo assim para este trabalho utilizaremos como Feature interna o ID da loja - que pode impactas nas vendas por existirem diferentes lojas em diferentes locais… - e como Features Externas os índices CPI (Prevailing consumer price index), Fuel Price, Unemployment e Temperature que afetam diretamente o bem estar e poder aquisitivo do consumidor - podendo aumentar ou reduzir seu consumo semanal.

### Introdução
#### `Importando bibliocas utilizadas:`

In [25]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats
import os

#### `Importando base de dados`

In [26]:
#Checando Diretório 
print("Esperamos trabalhar no diretório")
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/antonioamaralegydiomartins/Desktop/Antônio/GitHub - Pessoal/INSPER/Formula1_predicting_lap_time

In [27]:
dados = pd.read_csv('Walmart_Store_sales.csv')
dados.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

#### `Limpando DataFrame`

Retirando coluna "Date".

In [28]:
df = dados.drop("Date", axis=1)
df.head(5)

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,1554806.68,0,46.50,2.625,211.350143,8.106

In [ ]:
Dicionario de Dados
Checar Null
Scatter Plot de Todas as Variaveis
Dividir Variaveis
Gráfico 3D Variavel

**Dicionário de dados:**


Variável | Descrição
:---:|---:
Store | ID de Reconhecimento das Lojas
Weekly_Sales | Vendas Semanais
Holiday_Flag | Variavel Booleana para Feriados 
Temperature | Temperatura Exterior as lojas (Fahrenheit)
Fuel_Price | Preço do Galão de Combustivel (USD)
Prevailing consumer price index | Unidade utilizada para medir inflação
Unemployment | Taxa de Desemprego (%)


A variável *Holiday_Flag* identifica se é feriado ou não.

Valor | Significado
:---:|:---:
0 | É Feriado
1 | Não é Feriado